<div class="adminuiux-sidebar">
    <div class="adminuiux-sidebar-inner">

        <ul class="nav flex-column menu-active-line my-3 ps-2 pe-2">
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="dressing"
                   routerLinkActive="active-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-grid menu-icon">
                        <rect x="3" y="3" width="7" height="7"></rect>
                        <rect x="14" y="3" width="7" height="7"></rect>
                        <rect x="14" y="14" width="7" height="7"></rect>
                        <rect x="3" y="14" width="7" height="7"></rect>
                    </svg>
                    <span class="menu-name">Dashboard</span>
                </a>
            </li>
            <!--======-->
            <li class="nav-item d-flex align-items-center" (click)="sidebarClick(1)">
                <a class="nav-link me-auto">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-users menu-icon">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                    <span class="menu-name">Patients</span>

                </a>
                <i [ngClass]="sideBar==1? 'bi-chevron-down-click':''" class="bi bi-chevron-down me-1"></i>

            </li>
            <li class="nav-item sub-menu p-0" [ngClass]="sideBar==1? 'sub-menu-open':''">
                <a class="nav-link ps-4 pb-1 pt-1" routerLink="register"
                   routerLinkActive="active-link">
                    <i class="bi bi-dot me-2"></i>
                    <span class="menu-name sub-menu-item">Registeration</span>
                </a>
                <a class="nav-link ps-4 pb-1 pt-1" routerLink="checkhealth"
                   routerLinkActive="active-link">
                    <i class="bi bi-dot me-2"></i>
                    <span class="menu-name sub-menu-item">Check Health</span>
                </a>
            </li>
            <!--======-->
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="blood"
                   routerLinkActive="active-link">
                    <i class="bi bi-droplet-half me-2"></i>
                    <span class="menu-name">Blood Result</span>
                </a>
            </li>
            <!--======-->
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="building"
                   routerLinkActive="active-link">
                    <i class="bi bi-building icon-block me-2"></i>
                    <span class="menu-name">Patient Room</span>
                </a>
            </li>

            <!--======-->
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="medical"
                   routerLinkActive="active-link">
                    <i class="bi bi-capsule icon-block me-2"></i>
                    <span class="menu-name">Medical Records</span>
                </a>
            </li>
            <!--======-->
            <li class="nav-item d-flex align-items-center" (click)="sidebarClick(10)">
                <a class="nav-link me-auto">
                    <i class="bi bi-hospital me-2"></i>
                    <span class="menu-name">Stay In</span>

                </a>
                <i [ngClass]="sideBar==10? 'bi-chevron-down-click':''" class="bi bi-chevron-down me-1"></i>

            </li>
            <li class="nav-item sub-menu p-0" [ngClass]="sideBar==10? 'sub-menu-open-one':''">
                <a class="nav-link ps-4 pb-1 pt-1">
                    <i class="bi bi-dot me-2"></i>
                    <span class="menu-name sub-menu-item">Ckeck In Room</span>
                </a>
                <a class="nav-link ps-4 pb-1 pt-1">
                    <i class="bi bi-dot me-2"></i>
                    <span class="menu-name sub-menu-item">Check Out Room</span>
                </a>
                <a class="nav-link ps-4 pb-1 pt-1">
                    <i class="bi bi-dot me-2"></i>
                    <span class="menu-name sub-menu-item">My Publication</span>
                </a>
            </li>
            <!--======-->

            <li class="nav-item">
                <a href="clinic-pages.html" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-layers menu-icon">
                        <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                        <polyline points="2 17 12 22 22 17"></polyline>
                        <polyline points="2 12 12 17 22 12"></polyline>
                    </svg>
                    <span class="menu-name">Pages</span>
                    <span class="badge text-bg-primary mx-2">40+</span>
                </a>
            </li>
            <!--======-->
            <li class="nav-item">
                <a class="nav-link" href="components.html">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         width="24"
                         height="24"
                         viewBox="0 0 24 24"
                         fill="none"
                         stroke="currentColor"
                         stroke-width="2"
                         stroke-linecap="round"
                         stroke-linejoin="round"
                         class="feather feather-cpu menu-icon">
                        <rect x="4" y="4" width="16" height="16" rx="2" ry="2"></rect>
                        <rect x="9" y="9" width="6" height="6"></rect>
                        <line x1="9" y1="1" x2="9" y2="4"></line>
                        <line x1="15" y1="1" x2="15" y2="4"></line>
                        <line x1="9" y1="20" x2="9" y2="23"></line>
                        <line x1="15" y1="20" x2="15" y2="23"></line>
                        <line x1="20" y1="9" x2="23" y2="9"></line>
                        <line x1="20" y1="14" x2="23" y2="14"></line>
                        <line x1="1" y1="9" x2="4" y2="9"></line>
                        <line x1="1" y1="14" x2="4" y2="14"></line>
                    </svg>
                    <span class="menu-name">Components</span>
                </a>
            </li>
            <!--======-->
        </ul>
       
    </div>

</div>