@import "../layout/style.css";

.adminuiux-sidebar {
    height: 92vh !important;
    background-color: red !important;
    background-color: hsla(0, 0%, 100%, 0.85);
}
.adminuiux-sidebar-inner {
    height: 92vh !important;
   
}