<div class="header  pe-3 ps-3">
    <div class="fs-3 h-icon d-flex justify-content-between align-items-center">
        <div class="h-auto">
             <!--<i *ngIf="!isColapes" class="bi bi-list menu-hover" (click)="onColapes()"></i>
             <i *ngIf="isColapes" class="bi bi-justify-left menu-hover" (click)="onUnColapes()"></i>-->
            <div class=" ps-4 d-flex justify-content-start">
                <div class="logo-sm ps-1 d-flex p-relative">
                    <p class="fs-1 logo-S fw-bold m-0 d-flex">S</p>
                    <p class="fs-5 logo-p fw-bold">p</p>
                </div>
                <div class="logo-text fs-5 ps-3 pe-4 d-flex justify-content-around align-items-center">
                    Event Quotation
                </div>
            </div>
        </div>
        <div class="fs-4 d-flex align-items-center">
            <i class="bi bi-bell-fill pe-3"></i>
            <img class="images" src="https://i.pinimg.com/564x/68/8b/46/688b46f736d91a4a281840bf806c4331.jpg"/>
        </div>
    </div>
</div>
