@import "../layout/style.css";


.navbar {
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px, rgba(0, 0, 0, 0.1) 0px 0px 1px !important;
}/**/

.admid-name {
    width: 230px !important;

    a {
        margin: 0px !important;
        padding:0px;
        img{
            object-fit:contain;
            width:120px !important;
        }
    }
}

@media (max-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {

   
}

// Large devices (desktops, 992px and up)
@media (max-width: 992px) {
}

// X-Large devices (large desktops, 1200px and up)
@media (max-width: 1200px) {
    .admid-name {
        width: 210px !important;
    }

}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
}