
<div>
    <div>
        <div class="col-12 p-0">
            <div class="col-12 p-0">
                <div class="pe-4 ps-4 pt-3 pb-3 fs-5 text-colors fw-medium header-result m-0 d-flex">
                    <div class="ps-2">Medical Record</div>

                </div>

            </div>
           
        </div>
        <div class="type row me-1 ms-1 pe-4 ps-4 pb-3">
            <div class="col-6 col-xl-4 col-lg-5 mt-3 mb-3">
                <div class="text-colors">
                    B.No : 21269
                </div>
                <div class="text-colors">
                    Patient Name : Vong Vannak
                </div>
                <div class="text-colors">
                    Ref.By : Dr. Nanda Kumar
                </div>
            </div>
            <div class="col-6 col-xl-8 col-lg-7 mt-3 mb-3">
                <div class="text-colors">
                    Age : 38 yrs
                </div>
                <div class="text-colors">
                    Sex : Male
                </div>
                <div class="text-colors">
                    Date: 09.02.2025
                </div>
            </div>

            <div class="col-12 d-flex p-0 mt-3">

                <!--<input class="form-control fs-6" placeholder="search . . ." type="text">-->
                <button class="btn btnAdd text-white ms-auto" (click)="onAdd()">
                    <i class="bi bi-plus-circle-dotted"></i>
                    Add
                </button>

            </div>

            <div class="col-12 p-0 mt-2 table-search">
                <table class="table text-center fs-6 display-big-screen ">
                    <thead>
                        <tr class="bg-info">
                            <th scope="col" class="header-table">No</th>
                            <th scope="col" class="header-table">Medicin</th>
                            <th scope="col" class="header-table">Qty</th>
                            <th scope="col" class="header-table">Time / day</th>
                            <th scope="col" class="header-table">Dsc</th>
                         
                            <th scope="col" class="header-table">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        <!--<tr *ngFor="let value of values.item | filter:search;let i=index">

                        <th scope="row">{{i+1}}</th>
                        <td>{{value.item}}</td>
                        <td>{{value.size}}</td>
                        <td>{{value.color}}</td>
                        <td>{{value.quantity}}</td>
                        <td><i class="bi bi-pencil-square text-info me-2 cusors" (click)="getValEdit(value)"></i><i class="bi bi-trash text-danger cusors" (click)="deleteItem(value)"></i></td>
                    </tr>

                </tbody>-->
                </table>
            </div>


            <!--<div class="col-12 ps-xl-1 ps-md-2 ps-sm-1 p-0 d-flex align-items-center justify-content-end">
        <div class="d-flex justify-content-end align-items-end">
            <button class="btn btnCancel text-white m-2 p-2 additem" (click)="onClose()">Cancel</button>
            <button *ngIf="!isEditItem" class="btn btnAdd text-white m-2 p-2 additem">Save</button>
            <button *ngIf="isEditItem" class="btn btnAdd text-white m-2 p-2 additem">Save Change</button>
        </div>
    </div>-->
        </div>
    </div>
</div>
