<!--<div>
    <div class="d-flex">-->
<!-- Sidebar block -->
<!--<div [ngClass]="colapesSidebar ? 'sidebar-colape':'sidebar'" class="tranh overflow-hidden">
    <sidebar-component></sidebar-component>
</div>-->
<!-- Comtent block -->
<!--<div class="header-content overflow-hidden">-->
<!-- Header block -->
<!--<div class="d-none-print ">
    <header-component></header-component>
</div>-->
<!-- Comtent block -->
<!--<div class="h-100 w-100 p-2 pe-3 ps-3 zindex overflow-scroll">


                <router-outlet></router-outlet>
            </div>

        </div>
    </div>
</div>-->

<header-component (colapes)="colapes($event)"></header-component>

<!-- End this header-->

<div class="d-flex p-0 ">

    <div [ngClass]="colapesSidebar ? 'sidebar-content':'sidebar-content-close'" class="sidebar-main">
        <sidebar-component></sidebar-component>
    </div>

    <div class="contain pe-xl-5 ps-xl-5 pe-lg-5 ps-lg-5">
   
        <router-outlet></router-outlet>
    </div>
</div>
